<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fabrica Serra</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h3 class="text-muted">Fabrica Serra</h3>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Produccion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Negocio</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3 text-center">
              {% block page_content %}{% endblock page_content %}
        </div>

        <div class="row marketing">
        </div>

        <footer class="footer">
            <p>© Company 2017</p>
        </footer>

    </div> <!-- /container -->
</body>
</html>