{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fábrica Serra - Sistema de gestión de producción y negocios">
    <meta name="author" content="Fábrica Serra">
    <link rel="icon" href="/favicon.ico">

    <title>Fábrica Serra</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/pulse/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos personalizados para la app Producción -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom">
            <h1 class="text-primary">Fábrica de sandwiches Serra</h1>
                <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" aria-current="page">Producción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Negocio</a>
                    </li>
                    <ul >
                        <li>Usuario: {{ user.get_username }}</li>
                        <a href="{% url 'exit' %}">Logout</a>
                    </ul>
            </nav>
        </header>

        <!-- Contenido principal -->
        <main>
            <div class="text-center">
                {% block page_content %}{% endblock %}
            </div>

            <div class="row marketing">
                <!-- Contenido de marketing aquí -->
            </div>
        </main>

        <!-- Footer -->
        <br>
        <footer class="footer text-center text-muted">
            <h4 class="mb-0">© Powered by Agustin Serra</h4>
        </footer>

    </div>

    <!-- Bootstrap Bundle con Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/pulse/bootstrap.min.css" rel="stylesheet">

</body>
</html>
